<script> 
function showalert(){
    alert("hi this is alert message");
}
function checkuser()
{
    if(confirm('r u sure ?')){
        window.location="http://www.google.com";
    }else{
        alert('you click cancel');
    }
}
function hi(){
    var a= prompt('enter something');
if(a=='something'){
    document.write('correct');
}else{
    document.write('wrong');
}

}
</script>
<button onclick="showalert();">click</button>
<button onclick="checkuser();">google</button>
<button onclick="hi();">hello</button>

